table {
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
}

colgroup, tbody {
    border: solid medium;
}

td {
    border: solid thin;
    height: 3em;
    width: 3em;
    text-align: center;
    padding: 0;
}

.cell {
    width: 50%;
    height: 50%;
    border: none;
    text-align: center;
}